html {
  font-size: 62.5%;
  margin: 0;
}

main {
  background-color: rgb(231, 228, 228);
  height: auto;
}

body {
  background-color: rgb(231, 228, 228);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Archivo Narrow", sans-serif;
  text-transform: uppercase;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  margin: 0 5%;
  color: #40d3dc;
}

p {
  font-family: "Mulish", sans-serif;
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
}

#button {
  display: inline-block;
  background-color: #ff9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: "Mulish", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
