html {
  font-size: 62.5%;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Archivo Narrow", sans-serif;
  text-transform: uppercase;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  margin: 0 5%;
}

p {
  font-family: "Mulish", sans-serif;
  font-size: 1.5rem;
}
